<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>microacup - 404</title>
    <style type="text/css">
        body{
          background-color:#EBEBEB;
          padding-top:10%;
          font-size: 30px;
          text-align: center;
        }
        h1{
            color:#DD4B39;
        }
        ::-moz-selection { color:#fff; background-color:#FF6633;}
        ::-webkit-selection { color:#fff; background-color:#FF6633;}
        ::selection { color:#fff; background-color:#FF6633;}
    </style>
</head>
<body>
    <div id="page-404">
        <h1>404 Not Found</h1>
        <p> 你找的页面已经被王蛋蛋发配到火星了</p>
    </div>
</body>
</html>
